<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="HasSimpleTypes" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
    <section name="HasCollections" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
  </configSections>

  <HasSimpleTypes>
    <String>hello world</String>
    <Int>42</Int>
    <Nullable>55</Nullable>
    <EmptyNullable></EmptyNullable>
    <Bool>true</Bool>
    <Date>21 July 1969</Date>
  </HasSimpleTypes>

  <HasCollections>
    <Primes>
      <Prime>2</Prime>
      <Prime>3</Prime>
      <Prime>5</Prime>
      <Prime>7</Prime>
    </Primes>
    <Colors>
      <Color>Red</Color>
      <Color>Green</Color>
    </Colors>
    <Unicorns>
    </Unicorns>
  </HasCollections>

</configuration>