<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BasicConfig" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
  </configSections>

  <BasicConfig>
    <String>hello world</String>
    <Int>42</Int>
    <Bool>true</Bool>
    <Date>21 July 1969</Date>
  </BasicConfig>
</configuration>